<h3>stats</h3>
<div data-ng-controller="indexCtrl">
<table>
  <thead>
  <tr>
    <th>
      <a href="#" data-ng-click="sortType = 'team'; sortReverse = !sortReverse">Team <span ng-show="sortType == 'team' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'team' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'wins'; sortReverse = !sortReverse">Wins <span ng-show="sortType == 'wins' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'wins' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'losses'; sortReverse = !sortReverse">Losses <span ng-show="sortType == 'losses' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'losses' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'wins/82'; sortReverse = !sortReverse">Win % <span ng-show="sortType == 'wins/82' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'wins/82' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'pointspg'; sortReverse = !sortReverse">Points <span ng-show="sortType == 'pointspg' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'pointspg' && sortReverse" class="fa fa-caret-up"></span></a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'dpointspg'; sortReverse = !sortReverse">Opp Points <span ng-show="sortType == 'dpointspg' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'dpointspg' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'fgpct'; sortReverse = !sortReverse">FG% <span ng-show="sortType == 'fgpct' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'fgpct' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'threeptpct'; sortReverse = !sortReverse">3PT% <span ng-show="sortType == 'threeptpct' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'threeptpct' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
    <th>
      <a href="#" data-ng-click="sortType = 'assistspg'; sortReverse = !sortReverse">Assists <span ng-show="sortType == 'assistspg' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'assistspg' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="team in indexVM.teams | orderBy:sortType:sortReverse">
    <td>{{team.team}}</td>
    <td>{{team.wins}}</td>
    <td>{{team.losses}}</td>
    <td>{{(team.wins / 82) * 100 | number: 1}}%</td>
    <td>{{team.pointspg | number: 1}}</td>
    <td>{{team.dpointspg | number: 1}}</td>
    <td>{{team.fgpct * 100 | number: 1}}%</td>
    <td>{{team.threeptpct * 100 | number: 1}}%</td>
    <td>{{team.assistspg | number: 1}}</td>
  </tr>
  </tbody>
</table>
</div>
